<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bms.reader.persist.ReaderAdminMapper" >
  <resultMap id="BaseResultMap" type="com.bms.reader.model.ReaderAdmin" >
    <constructor >
      <idArg column="ID" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="ADMIN_NAME" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="USER_ID" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ADMIN_NAME, USER_ID
  </sql>
<!--   <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from STUDY_TEACHER
    where ID = #{id,jdbcType=VARCHAR}
  </select> -->
  
  <select id="selectByUserId" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from READER_ADMIN
    where USER_ID = #{userId,jdbcType=VARCHAR}
  </select>
  
  
  <!-- <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from STUDY_TEACHER
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.kingtsoft.study.model.StudyTeacher" >
    insert into STUDY_TEACHER (ID, TEACHER_NAME, USER_ID
      )
    values (#{id,jdbcType=VARCHAR}, #{teacherName,jdbcType=VARCHAR}, #{userId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.kingtsoft.study.model.StudyTeacher" >
    insert into STUDY_TEACHER
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="teacherName != null" >
        TEACHER_NAME,
      </if>
      <if test="userId != null" >
        USER_ID,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="teacherName != null" >
        #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.kingtsoft.study.model.StudyTeacher" >
    update STUDY_TEACHER
    <set >
      <if test="teacherName != null" >
        TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
      </if>
      <if test="userId != null" >
        USER_ID = #{userId,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.kingtsoft.study.model.StudyTeacher" >
    update STUDY_TEACHER
    set TEACHER_NAME = #{teacherName,jdbcType=VARCHAR},
      USER_ID = #{userId,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=VARCHAR}
  </update> -->
</mapper>