<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bms.reader.persist.ReturnMapper">
	<!-- 定义resultMap -->
	<!-- 归还记录查询关联借书记录，读者及图书 -->
	<resultMap type="com.bms.reader.model.ReturnPojo" id="ReturnBorrowReaderBookResultMap">
		<result column="RECORD_ID" property="recordId" />
		<result column="RETURN_DATE" property="returnDate" />
		<result column="OVERDUE_DAY" property="overdueDay" />
		<result column="PAY_FOR" property="payFor" />
		<result column="PAY_EXPLAIN" property="payExplain" />
		<!-- 配置映射的关联的借书POJO信息 -->
		<association property="borrowPojo" javaType="com.bms.reader.model.BorrowPojo">
			<id column="RECORD_ID" property="recordId"/>
			<result column="READER_ID" property="readerId"/>
			<result column="BOOK_ID" property="bookId" />
			<!-- 配置映射的关联的读者信息 -->
			<association property="reader" javaType="com.bms.reader.model.ReaderReader">
			<id column="READER_ID" property="id"/>
			<result column="READER_NAME" property="readerName"/>
			</association>
			<!-- 配置映射的关联的图书信息 -->
			<association property="bookInfo" javaType="com.bms.reader.model.BookInfo">
			<id column="BOOK_ID" property="bookId"/>
			<result column="BOOK_NAME" property="bookName"/>
			</association>
		</association>
	</resultMap>
	
	<!-- 查看还书记录，关联借书记录pojo -->
	<select id="findReturnInfo" resultMap="ReturnBorrowReaderBookResultMap" parameterType="com.bms.reader.model.ReturnQueryVo">
		select RETURN_INFO.*,BORROW_INFO.READER_ID,BORROW_INFO.BOOK_ID,READER_NAME,BOOK_NAME from
		 RETURN_INFO,BORROW_INFO,READER_READER,BOOK_INFO
		where RETURN_INFO.RECORD_ID=BORROW_INFO.RECORD_ID and BORROW_INFO.READER_ID=READER_READER.ID and
		BORROW_INFO.BOOK_ID=BOOK_INFO.BOOK_ID
	</select>

	<!-- 通过读者id查看还书记录 -->
	<select id="listReturnByReaderId" resultMap="ReturnBorrowReaderBookResultMap" parameterType="java.lang.String">
	select RETURN_INFO.*from
		 RETURN_INFO,BORROW_INFO,READER_READER,BOOK_INFO
		where RETURN_INFO.RECORD_ID=BORROW_INFO.RECORD_ID and BORROW_INFO.READER_ID=READER_READER.ID and
		BORROW_INFO.BOOK_ID=BOOK_INFO.BOOK_ID and id=#{value} 
	</select>	
	<!-- 查看还书记录数 -->
	<select id="findReturnCount" resultType="int">
		select count(*) from RETURN_INFO
	</select>
	
	<!-- 查找指定日期归还图书数量 -->
	<select id="findInNum" parameterType="int" resultType="int">
		select count(*) from RETURN_INFO where RETURN_DATE=trunc(sysdate-#{value})
	</select>
</mapper>